<?xml version="1.0" encoding="UTF-8"?>
<phpunit>
    <testsuites>
        <testsuite name="Feature">
            <directory>tests/WeChat</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory suffix=".php">./src/WeChat/Console</directory>
                <file>./src/WeChat/ServiceProvider.php</file>
                <file>./src/WeChat/Facade.php</file>
            </exclude>
        </whitelist>
    </filter>
    <groups>
        <exclude>
            <group>dont-test</group>
        </exclude>
    </groups>
</phpunit>
